appdirs
beautifulsoup4 
bs4    
certifi
charset-normalizer 
colorama
configparser
crayons       
cssselect
fake-useragent
idna     
lxml
parse
pip
pyee
pyppeteer
pyquery
requests
requests-html
selenium
setuptools
six
soupsieve
tqdm
urllib3
w3lib
webdriver-manager 
websockets 
wheel         
pyqt5
getopt
alive-progress
